<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Тестирование сервера игры SET</title>
   </head>
   <body>
      <h1>Тестер для сервера игры SET</h1>
      <form method="post" action="{{ url_for('run_test') }}">
         <label for="input_data">Введите IP адрес:</label>
         <input type="text" name="input_data" id="input_data"><br>
         <label for="input_port">Введите порт:</label>
         <input type="text" name="input_port" id="input_port"><br>
         <label>Режим:</label>
         <label>
         <input type="radio" name="mode" value="local" checked>
         Локальный сервер
         </label>
         <label>
         <input type="radio" name="mode" value="global">
         Внешний сервер
         </label><br>
         <label>Тестирование комнат:</label>
         <label>
         <input type="radio" name="room" value="one" checked>
         Одна комната
         </label>
         <label>
         <input type="radio" name="room" value="multiple">
         Несколько комнат
         </label><br>
         <input type="submit" value="Запустить тестирование">
      </form>
   </body>
</html>
